.navbar-custom
{
 background-color: rgb(166,59,63);
 margin-bottom: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.overlay {
  opacity: 1;
  position: absolute;
  overflow-x: hidden; 
  overflow-y: hidden; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#efe5d46f;
  /* background-image:  */
  background-image: url(../../source/nobackground.png);
  background-size: 100%;
}

div
{
  color: navy;
  font-family: verdana;
  font-size: 16px;
}
h1{

  margin-top: 15px;
  color: white;
  font-size:  4vw;
   font-family: 'Playfair Display', serif;
 }
#bandb
{
    height: 45%;
    width: 45%;
    margin-top: 75px;
    margin-left: 350px;
    margin-bottom: 20px;
}


#tile
{
  width: 220px;
  height: 200px;
  margin: 20px;
  font-size: 2.5vw;
  /* margin: 20pt; */
  color: rgb(22, 57, 128); 
  font-family: 'Chivo', sans-serif;
  font-weight: bold;
  background: white;
  border: 5px dashed rgb(22, 57, 128); 
  white-space: initial;

}

#content
{
  margin-top:7%;
  width: 75%;
  margin-left:auto;
  margin-right: auto;
 
}
