<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="components/delrec/delrec.css">
  <link href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet">
</head>

<body ng-app="bitsandbites">

<div class="container">


<div class="overlay">
    <nav class="navbar navbar-custom">  
    <button class="btn btn-primary btn-sm" id="back-button" onclick="gotopage()"><</button>
    <script>
      function gotopage() { location.replace("/ ") }
    </script>

  <h1>Delete Recipe</h1>
</nav>
  
<div ng-controller="RecipesController">
<nav class="navbar navbar-custom2">  
    <form class = "form">
        <div class="form-row" id = "refine">
         <div class="col" id = "categories">
         <select class="form-control" ng-model = "mealchoice" id = "selectors">
          <option value="" >Any Meal Type</option>
           <option>Breakfast</option>
           <option>Lunch</option>
           <option>Dinner</option>
           <option>Dessert</option>
           <option>Other</option>
    
         </select>
         </div>
         <div class="col" id = "categories">
         <select class="form-control" ng-model = "itemchoice" id = "selectors">
          <option value="" >Any Core Item</option>
           <option>Chicken</option>
           <option>Beef</option>
           <option>Seafood</option>
           <option>Starch</option>
           <option>Other</option>
         </select>
         </div>
         <div class="col">
            <button type = "button" class = "btn btn-custom" ng-click="getGroup()">Refine Selection</button>
         </form>
      
</nav>

<div class = row>

<div class="col-md-4" id = "leftcontent">
  <div class="input-group" id="searchBar">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" style = "background-color: #efe5d46f"class="form-control" ng-model="query"  placeholder="Search..">
  </div>
  <div class="selectrec">
    <table class="table table-hover">
        <th>Recipes</th>
        <tr ng-repeat="recipe in recipes | filter: query" ng-click="viewRec($index, recipe._id)">
            <td align= "left">{{recipe.name}}</td>            
      </tr>
    </table>
  </div>
</div>


<div class = "col">

<div class = "row">
      <div class="jumbotron jumbotron-name">
        <div class = "centerme"> 
          <h2>{{detailedInfo.name}}  </h2>
        </div>
        <div class = "centerme">
          <h4>{{detailedInfo.coreitem}} {{detailedInfo.mealtype}} </h4>
        </div>
      </div>     

      <div class = "row">
      <div class = "col"> 
      <div class="jumbotron jumbotron-rec">

          <p3>{{displayword1}}</p3>
          <pre id = "alling">{{alling}}</pre>

      </div>
      </div>
      <div class = "col"> 
          <div class="jumbotron jumbotron-del">

              <div class="row" id = "idel">
                  <button type = "button" class = "btn btn-danger" id="delete-button" ng-click="deleteRecipe()">Delete Recipe</button>
                </div>
    
              <div class = "row" id = "imessage">
                   <p4>{{displayword2}}</p4>
              </div>
    
          </div>
          </div>

      </div>

</div>

</div>


</div>
  
</div>
</div>

</div>
   

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/recipeFactory.js"></script>
  <script src="/components/delrec/delrecController.js"></script>
</body>
</html>
