.overlay {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../source/board-bunch-cooking-349609.jpg) repeat; background-size: cover;
  background-size: cover;
}

div
{
  color: navy;
  font-family: verdana;
  font-size: 16px;
}

h1{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 75px;
  color: crimson;
  font-size:  4vw;
  font-family: verdana, bold;
}
#bandb
{
    height: 45%;
    width: 45%;
    margin-top: 75px;
    margin-left: 350px;
    margin-bottom: 20px;
}
#cooking-button
{
margin-left: auto;
margin-right: auto;
width: 70%;
margin-top: 20px;
}

#grocery-button
{
margin-left: auto;
margin-right: auto;
width: 70%;
margin-top: 45px;
}
#lookup-button
{
margin-left: auto;
margin-right: auto;
width: 70%;
margin-top: 45px;
color: white;

}
