#searchBar 
{
 margin: 10px;
 opacity: .9;
 margin-left:20px;
 width: 475px;    

}
#leftcontent 
{
  border-right: 10px double #333;
  height: 565px;
}
.selectforlist
{
    max-height: 475px;
    max-width: 510px;
    margin-left:20px;
    overflow: auto; 
    opacity: 1;
    background-color:transparent;
    font-weight: bold;
    border-top: 4px solid #333; 
}
#smb
{
  opacity: .8;
}
#numsel
{
  margin-left: 5px;
  max-width: 50px;
  height: 50px;
  border: 2px solid rgb(32,49,83);
}
th
{
  border-bottom: 4px solid #333;
  font-size: 16pt;
}
.jumbotron-list
{ 
    margin-top: 10px;
    margin-left: 30px;
    padding-top:10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom:10px;
    height: 530px;
    width: 275px;
    background: #fefefe;
    border: 3px dashed rgb(32,49,83);
    overflow: auto;
}
.jumbotron-ing
{ 
    margin-top: 10px;
    margin-left: -35px;
    padding-top:10px;
    padding-left: 15px;
    padding-bottom:10px;
    height: 530px;
    width: 350px;
    background:#fefefe;
    border: 3px dashed rgb(32,49,83);
    overflow: auto;
}


#rando
{
margin-left: 20px;
width: 175px;
float: right; 
color: rgb(32,49,83);
font-weight:bold;
background-color: #efe5d46f;
border: 2px solid rgb(32,49,83);
}

.inglist
  {
    max-height: 270px;
    overflow: auto; 
    opacity: 1;
    background:rgb(247, 247, 247, .5); 
  }
  
  .navbar-custom
  {
   background-color: rgb(166,59,63);
  }
  h1{
   margin-left: auto;
   margin-right: auto;
   width: 40%;
   margin-top: 15px;
   /* color: #FAE6C7; */
   color: white;
   font-size:  4vw;
    font-family: 'Playfair Display', serif;
  }

 
  p2
  {
   font-family: 'Chivo', sans-serif;
   color: rgb(32,49,83);
   font-size: 2vw;
  }
  p3
  {
   font-family: 'Chivo', sans-serif;
   color: rgb(32,49,83);
   font-size: 2vw;
   font-weight: bold;
   border-bottom: 3px solid #333;
  }
  div
  {
    color: rgb(32,49,83);
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
  }

  .overlay {
    opacity: 1;
    position: absolute;
    overflow-x: hidden; 
    overflow-y: hidden; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#efe5d46f;
  }

  #back-button
  {
    margin-top: 5px;
    margin-left:5px;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    font-size: 20px;
  }