<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="components/create/create.css">
  <link href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet">
</head>

<body ng-app="bitsandbites">

<div class="container">
<div class="overlay">
    <nav class="navbar navbar-custom">  
    <button class="btn btn-primary btn-sm" id="back-button" onclick="gotopage()"><</button>
    <script>
      function gotopage() {
      location.replace("/ ")
      }
    </script>

  <h1>Grocery List Maker</h1>
</nav>
  
<div class= row ng-controller="RecipesController">


<div class="col-md-5" id = "leftcontent">
  <div class="input-group" id="searchBar">
     <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
   <input type="text" style = "background-color: #efe5d46f" class="form-control" ng-model="query" placeholder="Search..">
   <button class = "btn btn-danger" id = "rando" ng-click=randomize()> Decide for Me </button>
   <select class="form-control" id = "numsel" ng-model = "selnum" style = "background-color: #efe5d46f">
     <option>1</option>
     <option>2</option>
     <option>3</option>
     <option>4</option>
     <option>5</option>
     <option>6</option>
     <option>7</option>
     <option>8</option>
     <option>9</option>
   </select>
   </div>
   <div class="selectforlist">
   <table class="table table-hover">
    <tr>
     <th>Recipe</th>
     <th>Meal Type</th>
     <th></th>
     <th></th>
      </tr>
    <tr ng-repeat="recipe in recipes | filter: query">
    <td>{{recipe.name}}</td>
    <td>{{recipe.mealtype}}</td>
    <td><button class = "btn btn-success btn-sm" id = "smb" ng-click="addtolist(recipe._id)"> Add </button></td>
    <td><button class = "btn btn-danger btn-sm" id = "smb" ng-click="removelist(recipe._id)"> Del </button></td>
    </tr>
</table>
</div>
</div>

<div class = col>

      <div class = "row">
      <div class = col> 
      <div class="jumbotron jumbotron-list">
      <div id = "centerme">
      <p3> Basket </p3>
     </div>
      <ul>
          <li class="animate-repeat" ng-repeat = "recipe in grocerylist">
          <p2>{{recipe.name}}</p2>
          </li>
        </ul>
      </div>
      </div>

       <div class = col> 
        <div class="jumbotron jumbotron-ing">
        <div id = "centerme">
       <p3> Ingredients List </p3>
        </div>
       <table class="table table-hover">
          <tr ng-repeat="ingredients in ingredients">
            <td>{{ingredients.x}}</td>
            <td>{{ingredients.y}}</td>
            <td>{{ingredients.z}}</td>
          </tr>
        </table>

       </div>
       </div>
      </div>
</div>

</div>



</div>
</div>
</div>

   

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/recipeFactory.js"></script>
  <script src="/components/create/createController.js"></script>
</body>
</html>

