<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/addrec.css">
</head>

<body ng-app="bitsandbites">

<div class="container">
<div class="overlay">

<div ng-controller="RecipesController">
<h1>Create Recipe</h1>
<button type = "button" class = "btn btn-primary" id="submit-button" ng-click="addRecipe()">Submit Recipe</button>



     
    <form class = "form">
    <div class="form-row">
     <div class="col">
     <input type="text" class="form-control" placeholder="Recipe name" ng-model="newRecipe.name" />
     </div>
     <div class="col">
            <select class="form-control" id="selmealtype" ng-model = "newRecipe.mealtype">
             <option value="" selected disabled>Meal Type</option>
              <option>Breakfast</option>
              <option>Lunch</option>
              <option>Dinner</option>
              <option>Dessert</option>
              <option>Other</option>
            </select>
     </div>
     <div class="col">
        <select class="form-control" id="selcoretype" ng-model = "newRecipe.coreitem">
            <option value="" selected disabled>Core Item</option>
             <option>Chicken</option>
             <option>Beef</option>
             <option>Seafood</option>
             <option>Starch</option>
             <option>Other</option>
           </select>
     </div>
     </div>
     </form>


    <form class = "form">
    <div class="form-row">
     <div class="col">
        <div class="ingnameclass">
            <div class="form-group" ng-repeat="choice in choices">
              <label for="choice" ng-show="$first"></label>
              <input type="text" class="form-control" ng-model="choice.name" name="" placeholder="Ingredient Name">
              <button type = "button" class = "btn btn-primary" id = "add-button" ng-show="$last" ng-click="addNewChoice()">Add another Ingredient</button>
            </div>
          </div>
     </div>
     <div class="col">
        <div class="cquantclass">
            <div class="form-group" ng-repeat="cquant in cquants">
              <label for="cquant" ng-show="$first"></label>
              <input type="text" class="form-control" ng-model="cquant.name" name="" placeholder="Ingredient Quantity">
            </div>
          </div>
     </div>
     <div class="col">        
      <div class="cmtypeclass">
            <div class="form-group" ng-repeat="cmtype in cmtypes">
              <label for="cmtype" ng-show="$first"></label>
              <select class="form-control" id="selmealtype" ng-model = "cmtype.name" name = "">
                  <option value="" selected disabled>Measurement Type</option>
                   <option>Pound(s)</option>
                   <option>Ounce(s)</option>
                   <option>Cup(s)</option>
                   <option>Tsp(s)</option>
                   <option>Tbsp(s)</option>
                   <option>Package(s)</option>
                   <option>Unit(s)</option>
                 </select>
            </div>
          </div>
     </div>
     </div>
     </form>

 <form class = "form">
    <div class="form-row">
     <div class="col">
        <div class="stepsinput">
            <div class="form-group" ng-repeat="chstep in chsteps">
              <label for="chstep" ng-show="$first"></label>
              <input type="text" class="form-control" ng-model="chstep.name" name="" placeholder="Instruction.. "> 
              <button type = "button" class = "btn btn-primary" id = "add-button" ng-show="$last" ng-click="addNewStep()">Add another Step</button>
            </div>
          </div>
     </div>
    </form>



</div>
</div>
</div>     

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/recipeFactory.js"></script>
  <script src="js/controllers/recipeController.js"></script>
</body>
</html>