<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="components/imprec/imprec.css">
  <link href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet">
</head>

<body ng-app="bitsandbites">

<div class="container">
<div class="overlay">
  <nav class="navbar navbar-custom">  
    <button class="btn btn-primary btn-sm" id="back-button" onclick="gotopage()"><</button>
    <script>
      function gotopage() { location.replace("manage") }
    </script>
  <h1>Import Recipe</h1>
</nav>

<div ng-controller="RecipesController">

<div class = "row" id = "content">

<div class = "col">
<div class = "jumbotron jumbotron-file">
  <pre>
This portion of the App is still in developement, due to this 
some things may not work as expected.  A format is provided to
the right to guide in the creation of the .txt file for recipe 
import.  Everything needs to be  perfect, anything even slightly 
off will ruin the recipe import.

Updates coming soon.


  </pre>
<form>
 <input type="file" id="fileInput">
  </form>
  <button class = "btn btn-primary" ng-click="readFile()"> Click Me </button>
  <pre> {{displayword1}}</pre>
</div>
</div>

<div class = "col">
<div class = "jumbotron jumbotron-display">

  <pre> 
Here is an Example of the Recipe Format to follow: 
each detail is important (including the colons, spaces,
and newlines, etc..),  failure to adhere strictly to 
this format will result in a failure to import the recipe.
-----------------------------------------------------
Name: Fried Chicken
Meal Type: Dinner
Core Item: Chicken
 
Ingredients:
Chicken breasts 3 pounds
Flour 4 cups
Seasoning 3 tsp
    
Steps:
1) Cut Chicken into Strips
2) Coat chicken with flour
3) Fry until crispy</pre>
</div>
</div>

</div>

<script>

var fileInput = document.getElementById('fileInput');
var fileDisplayArea = document.getElementById('fileDisplayArea');

fileInput.addEventListener('change', function(e) {
    var file = fileInput.files[0];
    var textType = /text.*/;
    
    if (file.type.match(textType)) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
            var content = reader.result;
            sessionStorage.setItem('filekey', content);
        }
        
        reader.readAsText(file);	
    } else {
        fileDisplayArea.innerText = "File not supported!"
    }
});

</script>










</div>
</div>
</div>     

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/recipeFactory.js"></script>
  <script src="/components/imprec/imprecController.js"></script>
</body>
</html>









